* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
}

body {
    font-family: Arial, sans-serif;
}

.recetario, .contacto {
    width: 60%;
    min-height: 100vh;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 10%;
}

header {
    position: fixed;
    top: 0;
    left: 10%;
    width: 80%;
    height: 12%;
    text-align: center;
    border: 0.1rem solid black;
    background-color: rgb(248, 222, 138);
}

header h1 {
    margin-bottom: 3%;
}

a{
    color: black;
    text-decoration: none;
}

section {
    margin-top: 15%;
    margin-bottom: 5%;
    padding: 3%;
    border: 0.1rem solid black;
    border-radius: 2rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
}

section h2{
    text-align: center;
}

section img{
    display: block;
    width: 40%;
    margin: auto;
}

footer{
    text-align: center;
    border: 0.1rem solid black;
    position: fixed;
    bottom: 0;
    left: 10%;
  width: 80%;
  height: 8%; 
  background-color: rgb(248, 222, 138);
}

footer p{
    margin: 2%;
}


/*FORMULARIO*/

.formulario{
    margin-top: 15%;
    border-radius: 0%;
}

form{
    display: flex;
    flex-direction: column;
    gap: 2%;
}

input, textarea{
    width: 100%;
    margin-bottom: 3%;
    padding: 2%;
}

textarea{
    height: 20vh;
}

button{
    width: 30%;
    padding: 2%;
    margin: auto;
}
